section.contacts-hero.padding-top
  .container
    .contacts-hero__content
      .contacts-hero__content-title
        h1 Контакты
      .contacts-hero__content-info
        .info-block
          h3 Cлужба поддержки
          ul.list-dashed
            li
              p 8&nbsp;800 100-40-88,
              p 8 (495) 122-20-88
            li 191024, Астана, пр-кт Туран, 34В
            li
              a(href="#") Форму обратной связи
            li
              a(href="#") Чат-бота Telegram

        .info-block
          h3 ТОО «Nomapay»
          ul.list-plain
            li
              h4 Адрес
              p 191024, Астана, пр-кт Туран, 34В

      .contacts-hero__content-map
        .map(id="map" data-api-key="ваш_api_ключ_яндекс_карт")
          .map-marker(
            data-lat="55.751574"
            data-lng="37.573856"
            data-title="Красная площадь"
            data-description="Главная площадь России"
          )
          .map-marker(
            data-lat="55.758994"
            data-lng="37.619234"
            data-title="Москва-Сити"
            data-description="Деловой центр"
          )
